.app {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

.app.dark {
  --background-color: #121212;
  --text-color: #ffffff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
